<form method="post" action="/books/new">
	<input name="title" placeholder="title" type="text"/>
	<input name="author" placeholder="author" type="text"/>
	<input name="pieces" placeholder="pieces" type="text"/>
	<input name="isbn" placeholder="isbn" type="text"/>
	<input name="out" placeholder="out" type="text"/>
	<input name="internal" placeholder="internal" type="text"/>
	<input name="category" placeholder="category" type="text"/>
	<input type="submit"/>
</form>