<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Simonyi Könyvtár</title>
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/js.js"></script>
	</head>
	<body>
		<header>
			<div class="wrapper">
				<a href="#" class="site-logo has-transition"><img src="/images/logo.png"></a>
				
				<div class="menu-icon">
					<div class="first"></div>
					<div class="middle"></div>
					<div class="last"></div>
				</div>
				
				<div class="header-search">
					<div class="header-search-icon use-sprite"></div>
					<form class="has-transition">
						<input type="text" placeholder="Keress szerzőre, címre..." />
						<input type="submit" value="" class="use-sprite" />
					</form>
				</div>
				
				<div class="profile-menu">
					<a href="#" class="profile-menu-item profile-link">
						<span><img src="/images/temp/prof-pic-small.png" /></span>
						Bálint Ferenc
					</a>
					<a href="#" class="profile-menu-item">
						Szabályzat
					</a>
					<div class="profile-menu-item opening clear">
						<div>Következő nyitvatartás:</div>
						<p>
							2014.04.04.<br />
							19:00 - 20:00<br />
							SCH 1319<br />
						</p>
					</div>
				</div>
			</div>
		</header>
		<div class="book warning">
			<div class="half-section left-section">
				<div class="available-sign">
					<div class="use-sprite"></div>
				</div>
				<!--
				<div class="book-info">
					<a href="#" class="btn has-transition">Kikölcsönzöm</a>
				</div>
-->
				<!--
				<div class="book-info">
					<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
					<h5>2014.10.23.</h5>
					<a href="#" class="btn has-transition">Lefoglalom</a>
				</div>
-->
				<!--
				<div class="book-info">
					<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
					<h5>2014.10.23.</h5>
				</div>
-->
				<div class="book-info">
					<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
					<h5>2014.10.23.</h5>
				</div>
				<img src="/images/temp/book-big.png" alt="James Dashner - The Maze Runner" />
			</div>
			<div class="half-section right-section">
				<h3>James Dashner</h3>
				<h2>The Maze Runner, egy hosszú címmel</h2>
				<p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
				<ul>
					<li>
						<div class="li-attribute">Összes darabszám</div>
						<div class="li-value">5</div>
					</li>
					<li>
						<div class="li-attribute">Elérhető darabszám</div>
						<div class="li-value">3</div>
					</li>
					<li class="empty-row"></li>
					<li>
						<div class="li-attribute">Oldalszám</div>
						<div class="li-value">1234</div>
					</li>
					<li class="empty-row"></li>
					<li>
						<div class="li-attribute">ISBN szám</div>
						<div class="li-value">123456789</div>
					</li>
					<li>
						<div class="li-attribute">Leltári szám</div>
						<div class="li-value">123456789</div>
					</li>
				</ul>
				<h5>Hasonló könyvek</h5>
				<div class="book-list clear">
					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
				</div>
			</div>
		</div>
	</body>
</html>