<!DOCTYPE html>
<html ng-app="library">
	<head>
		<meta charset="utf-8" />
		<title>Simonyi Könyvtár</title>
		<link href="/css/animation.css" type="text/css" rel="stylesheet" />
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
	</head>
	<body>

    <% include header %>

		<section>
			<div class="wrapper">

				<h1>Legújabb könyvek</h1>

				<div class="book-list clear">

					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>

				</div>

				<div class="pager-buttons clear">
					<a href="#" class="btn prev-btn has-transition">Előző oldal</a>
					<a href="#" class="btn next-btn has-transition">Következő oldal</a>
				</div>

			</div>

		</section>

        <% include footer %>

        <% include scripts %>
	</body>
</html>