<!DOCTYPE html>
<html ng-app="library">
	<head>
		<meta charset="utf-8" />
		<title>Simonyi Könyvtár</title>
		<link href="/css/animation.css" type="text/css" rel="stylesheet" />
		<link href="/css/style.css" type="text/css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<div class="wrapper">
				<a href="#" class="site-logo has-transition"><img src="/images/logo.png"></a>
				
				<div class="menu-icon">
					<div class="first"></div>
					<div class="middle"></div>
					<div class="last"></div>
				</div>
				
				<div class="header-search">
					<div class="header-search-icon use-sprite"></div>
					<form class="has-transition">
						<input type="text" placeholder="Keress szerzőre, címre..." />
						<input type="submit" value="" class="use-sprite" />
					</form>
				</div>
				
				<div class="profile-menu">
					<a href="#" class="profile-menu-item profile-link">
						<span><img src="/images/temp/prof-pic-small.png" /></span>
						Bálint Ferenc
					</a>
					<a href="#" class="profile-menu-item">
						Szabályzat
					</a>
					<div class="profile-menu-item opening clear">
						<div>Következő nyitvatartás:</div>
						<p>
							2014.04.04.<br />
							19:00 - 20:00<br />
							SCH 1319<br />
						</p>
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="wrapper">
				<h1>Legújabb könyvek</h1>
				<div class="book-list clear">
					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="available has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 2</p>
								</div>
								<div class="book-info-bottom">
									<a href="#" class="btn has-transition">Kikölcsönzöm</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="waiting-list has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ebből a könyvből az össze példányt kikölcsönözték, legközelebb ekkor lesz elérhető:</p>
									<h5>2014.10.23.</h5>
									<a href="#" class="btn has-transition">Lefoglalom</a>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="reading has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. A visszadás határideje:</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
					<article class="warning has-transition">
						<div class="book-image">
							<div class="available-sign">
								<div class="use-sprite"></div>
							</div>
							<img src="/images/temp/book-small.jpg" alt="James Dashner - The Maze Runner" />
							<div class="book-info has-transition">
								<div class="book-info-top">
									<p>Összes darabszám: 5</p>
									<p>Elérhető darabszám: 0</p>
								</div>
								<div class="book-info-bottom">
									<p>Ez a könyv jelenleg nálad van. FIGYELEM! Már vissza kellett volna vinned!</p>
									<h5>2014.10.23.</h5>
								</div>
							</div>
						</div>
						<div class="book-content">
							<div class="book-category category-it">Szakma</div>
							<h3>James Dashner</h3>
							<h2><a href="#">The Maze Runner, egy hosszú címmel</a></h2>
						</div>
					</article>
				</div>
				<div class="pager-buttons clear">
					<a href="#" class="btn prev-btn has-transition">Előző oldal</a>
					<a href="#" class="btn next-btn has-transition">Következő oldal</a>
				</div>
			</div>
		</section>
		<footer>
			<div class="wrapper">
				<a href="http://simonyi.bme.hu" class="simonyi-logo"><img src="/images/simonyi-logo.png"></a>
				<a href="http://sch.bme.hu" class="sch-logo"><img src="/images/sch-logo.png"></a>
				<p>Copyright Simonyi Károly Szakkollégium - Oktatási csoport</p>
			</div>
		</footer>


	</body>
</html>